.ticketContainer {
  width: 100%;
  height: 300px;
border: 1px solid;
border-image: linear-gradient(45deg, red, blue) 1;
border-radius: 8px;
display: grid;
grid-template-columns: 3fr 1fr; /* Prvý stĺpec 3fr, druhý 1fr */
    grid-template-rows: 1fr 1fr; /* Dva riadky */
    grid-column-gap: 20px;
    overflow-y: hidden;
    background: linear-gradient(45deg, 
    rgba(255, 255, 255, 0.01) 0%,  /* Biela farba s 10% nepriehľadnosťou */
    rgba(255, 255, 255, 0.25) 80%  /* Biela farba s 30% nepriehľadnosťou */
);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid darkblue; */
}

.itemOne {
    grid-column: 1 / 2; /* Prvý column */
    grid-row: 1 / 2; /* Prvý row */
    gap: 16px;
display: flex;
justify-content: flex-start;
  /* border: red 1px solid; */
  border-radius: 8px;
  padding-left: 30px;

}

.conferenceDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  font-family: "Inconsolata", monospace;
}

.conferenceDetails p:nth-child(1) {
  font-size: 26px;
  color: white;
}

.conferenceDetails p:nth-child(2) {
  font-size: 20px;
  color: #8784a5;
}

.conferenceDetails > img {
  width: 40px;
  height: auto;
}

.itemTwo {
    grid-column: 1 / 2; /* Prvý column */
    grid-row: 2 / 3; /* Druhý row */
  /* border: green 1px solid; */
  border-radius: 8px;
color: white;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
padding-left: 30px;
font-family: 'Inconsolata', monospace;
} 

.itemTwo > img {
  height: auto;
  max-height: 80px;
  border-radius: 8px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
  gap: 10px;
}

.userInfo p:nth-child(1) {
  color: #fff;
  font-size: 26px;
}

.githubNick {
color: #8784a5;
font-size: 20px;
}

.githubNick::before {
  content: url(../../../assets/images/icon-github.svg);
  display: inline-block;
  vertical-align: middle;
margin-right: 6px;
}
.itemThree {
    grid-column: 2 / 3; /* Druhý column */
    grid-row: 1 / 3; /* Rozprestrie sa cez oba rows */
  height: 100%;
  /* border: red 1px solid; */
  border-radius: 8px;
  display: flex;
  align-items: center ;
  justify-content: center ;
}


.generatedNumber {
  font-family: "Inconsolata", monospace;
  color: #8784a5;
  writing-mode: vertical-lr;

}



