.ticketBorder {
    height: 300px;
    width: 600px;
    display: flex;
}

.partOfTicketOne {
    width: 85%;
    height: 100%;
    border: white 1px solid;
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.namedSection {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    height: 50%;
    padding-left: 25px;
    padding-top: 35px;
    color: white;
    font-size: 18px;
    font-family: "Inconsolata", monospace;

    /*nasl riad vym*/
    border-bottom: 1px solid white;
}

.namedSection > img {
    width: 20px;
}

.avatarSection {
    display: flex;
    align-items: center;
    height: 50%;
}

.avatarSection > img {
    border-radius: 8px;

    /* height: 70%; */
    padding: 25px;

}

.partOfTicketTwo {
    width: 5%;
    height: 100%;

    border: green 1px solid;
    border-radius: 8px;

}

.partOfTicketThree {
    width: 10%;
    height: 100%;

    border: red 1px solid;
    border-radius: 8px;

}